<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dentist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <style>
        body{
            background-color: rgba(255,255,255,1);
            color: rgba(81,80,80,1);
        }
        .home{
            height: 700px;
            background-size: cover;
        }

        p{
            font-size: 20px;
        }

        img{
            -webkit-box-shadow: 1.25rem 1.375rem 4.75rem 0 rgba(0,0,0,.22) !important;
            width: 100%;
            box-shadow: 1.25rem 1.375rem 4.75rem 0 rgba(0,0,0,.22) !important;
        }
    </style>
</head>
<body>
    <header>
        <img class="img-fluid" src="{% static 'images/header.png' %}" alt="">
    </header>
    <div class="home w-100 " style="background-image: url('{% static 'images/home.jpg' %})">
        <div class="container" style="height: 100%">
            <div class="row" style="height: 100%">
                <div class="col-8 d-flex flex-column justify-content-center" style="height: 100%">
                    <h4 style="opacity: 0.65;" class="text-light">ONLY ONE KIND OF TREATMENT</h4>
                    <h1 class="text-light" style="font-size:60px;">YOUR NEW SMILE <br>with KANAN KHALILOV</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 p-0">
                    <img class="img-fluid" src="{% static 'images/img1.png' %}" alt="">
                </div>
                <div class="col-md-6 p-0 d-flex justify-content-center align-items-center">
                    <div class="p-5">
                        <h1 class="text-center">Dentist Clinic</h1>
                        <p class="text-center">Our clients are our priority, we offer quality dental services with a team of
                            specialists. More details about our services below</p>
                    </div>
                </div>

                <div class="col-md-6 p-0 d-flex justify-content-center align-items-center">
                    <div class="p-5">
                        <h1 class="text-center">Our Cases &amp; Patient Stories</h1>
                    </div>
                </div>
                <div class="col-md-6 p-0">
                    <img class="img-fluid" src="{% static 'images/img2.JPG' %}" alt="">
                </div>

                <div class="col-md-6 p-0">
                    <img class="img-fluid" src="{% static 'images/img3.png' %}" alt="">
                </div>
                <div class="col-md-6 p-0 d-flex justify-content-center align-items-center">
                    <div class="p-5">
                        <h1 class="text-center">Discover The Dental Clinic</h1>
                        <p class="text-center">Our clients are our priority, we offer quality dental services with a team of specialists. More details about our services below.</p>
                    </div>
                </div>

                <div class="col-md-6 p-0 d-flex justify-content-center align-items-center">
                    <div class="p-5">
                        <h1 class="text-center">A Warm Welcome and a Beautiful Smile</h1>
                        <p class="text-center">Our clients are our priority, we offer quality dental services with a team of specialists. More details about our services below.</p>
                    </div>
                </div>
                <div class="col-md-6 p-0">
                    <img class="img-fluid" src="{% static 'images/4.JPG' %}" alt="">
                </div>

            </div>
        </div>
    </section>

    <footer>
        <img class="img-fluid" src="{% static 'images/footer.png' %}" alt="">
    </footer>
</body>
</html>